.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
  flex-basis: calc(30%);
}
.lecture-image {
  background-image: url("../images/Typing-bro.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.lecture-hero-image {
  background-image: url("../images/9176840_6663.jpg");
  height: 750;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.student-hero-image {
  background-image: url("../images/student-hero.jpg");
  height: 750;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
